Add LdapFilterCompiler option to prevent escaping of chars

Hi, I'm trying to create expressions (of type `Expression<Func<Entry, bool>>` ) to search Active Directory (so Microsoft's implementation of LDAP) using the query syntax described [here](https://social.technet.microsoft.com/wiki/contents/articles/5392.active-directory-ldap-syntax-filters.aspx).

The issue I'm getting is that characters like `*` keep getting escaped and I can find no option to turn it off. An expression like `e => e.Attributes["objectCategory"] == "*"` gets compiled to `(objectCategory=\*)` (RFC1960), or `\2a` (RFC2254/RFC4515).

Is there any way to just simply turn off character escaping?

@mamift There's a special syntax when you want to use patterns. Please see the wiki, here:

https://github.com/cdibbs/linq2ldap/wiki/Filter-Methods

In this case, it looks like what you want is:

```c#
e.Attributes["objectCategory"].Matches("*")
```
In general, the intention was to mimic how other LINQ frameworks, such as EntityFramework, do things.

OK thanks for that. I've tried that, and it seems to be throwing an error: `"One and only one term of a .Compare/.CompareTo must reference the model."`

Here's some minimal code to reproduce it:
```C#
var searcher = new LinqDirectorySearcher<Entry>(Domain.GetCurrentDomain().GetDirectoryEntry());
searcher.SearchScope = SearchScope.Subtree;
	
searcher.Filter = e => e.Attributes["objectCategory"].Matches("*");
```
The exception throws both in LinqPad and Visual Studio.

I was able to reproduce this and will try to get a fix out, shortly.

In the mean time, it looks like `.StartsWith("")` can function as a work-around. I'm also thinking I'll add support for the `.Any()` extension while I'm in there, which would do the same thing.

Anyway, thanks for reporting this.

Alright, this should be fixed. Let me know if you have any more problems.